.content-main {
  width: 100%;
  height: 100%;
  font-size: 1.5rem; 
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 10rem;
  padding-left: 10rem; 
  padding-right: 10rem; 
}

.ellipse-container {
  width: 13.75rem;
  height: 3.125rem; 
  background-color: #F5DDC4;
  display: flex;
  align-items: center;
  border-radius: 1.25rem; 
}

.ellipse-text {
  color: #F48E28;
  font-size: 1.25rem;
  padding-left: 0.625rem; 
}

.btn-circle {
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.375rem 0rem;
  border-radius: 0.9375rem; 
  text-align: center;
  font-size: 0.75rem; 
  line-height: 1.42857;
  background-color: #F5DDC4;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.375rem;
  text-align: left;
  margin-top: 1.25rem; 
}

.text-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.625rem;
  text-align: left;
}

.button-landing {
  width: 15rem; 
  height: 3.75rem;
  background: linear-gradient(180deg, #EFAB68, #F48E28);
  font-size: 1.125rem; 
  color: #FFFFFF;
  font-weight: bold;
}

.button-landing-border {
  width: 15rem; 
  height: 3.75rem; 
  background-color: #FFFFFF; 
  border: 0.125rem solid #F48E28; 
  font-size: 1.125rem; 
  color: #000000;
  font-weight: bold;
}

.button-style:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}

.rectangleLanding {
  margin-left: 40%; 
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(180deg, #D9D9D9 0%, #f4f2f2 100%);
  border-radius: 1.25rem;
}


/* Just For Desain Fitur Belum Tersedia*/
.error-message {
  text-align: center;
  margin-top: 3rem;
}

.error-title {
  color: #F48E28;
  font-size: 3.75rem;
  font-weight: bold; 
  font-family: 'Montserrat', sans-serif; 
}

.error-description {
  color: #666666;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif; 
}

.error-info {
  color: #000000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif; 
  margin-top: 1.25rem;
}

.error-button {
  margin-top: 1.25rem;
  font-family: 'Montserrat', sans-serif; 
}








