.bg-half {
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, #EFAB68 50%, #EFAB68 100%);
    min-height: 100vh;
    overflow: hidden;
    align-content: center;
    vertical-align: middle;
}

.button-custom {
    background: linear-gradient(to bottom, #EFAB68, #F48E28 75%);
    background-size: 20px 75px;
    font-size: 1em;
    border: none;
    padding: 10px 125px;
    cursor: pointer; 
    transition: background 0.3s ease-in-out; 
}

.button-custom:hover {
    background-position: 100px;
}

.button-custom:active {
    background-position: 20px;
}

.button-custom {
    user-select: none;
}

.left-img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

@media screen and (max-width: 912px) {
    .bg-half {
        background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, #EFAB68 50%, #EFAB68 100%);
        min-height: 100vh;
        overflow: hidden;
    }

    .button-custom {
        padding: 10px 50px;
    }

    .container-setting {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .remove {
        display: none;
    }
}

