.custom-danger-btn {
  background-color: #ff5b19 !important;
}

.custom-danger-btn:hover {
  background-color: #d74f19 !important;
}

.custom-danger-btn:active {
  background-color: #d74f19 !important;
}

.custom-danger-btn:focus {
  background-color: #d74f19 !important;
}

.custom-agree-btn {
  background-color: rgb(244, 142, 40) !important;
  border: none;
}

.custom-agree-btn:hover {
  background-color: rgb(209, 121, 34) !important;
}

.custom-agree-btn:active {
  background-color: rgb(209, 121, 34) !important;
}

.custom-agree-btn:focus {
  background-color: rgb(209, 121, 34) !important;
}

.text-admin-weight {
  font-weight: normal;
  font-size: 1rem;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (max-width: 1024px) {
  .border-top {
    border: none !important;
  }

  .border-bottom {
    border: none !important;
  }

  .border-left {
    border: none !important;
  }

  .border-right {
    border: none !important;
  }
}
